<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/aboutKevP2.html">About Kevin's Project2</a>

<%- include("./includes/footer.ejs"); %>

